h1 {
  color: grey;
  text-align: center;
  border-bottom: 3px solid grey;
}

h4 {
  background-color: gray;
  color: white;
  border: 3px solid gray;
  text-align: center;
}

.div1 {
  align: right;
}

p {
  max-width: 30%;
  margin: 5px;
  padding: 5px;
  float: left;
  text-align: justify;
}
